.timeline {
    position: relative;
    margin: 2rem 0;
    padding-left: 48px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #dee2e6;
}

.timeline-item {
    position: relative;
    margin-bottom: 3rem;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -44px;
    width: 16px;
    height: 16px;
    background-color: #0d6efd;
    border-radius: 50%;
    z-index: 1;
}