<footer class="bg-light text-center mt-auto p-2 shadow">
    <small>
        &copy; 2025 | Developed by Devadatta Pokharanakar |
        <a href="mailto:dmpokharanakar@gmail.com" title="Email"><i class="bi bi-envelope"></i></a>
        <a href="https://www.linkedin.com/in/devadatta-pokharanakar" title="LinkedIn" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/DevadattaP" title="GitHub" target="_blank"><i class="bi bi-github"></i></a>
    </small>
</footer>